.App {
  text-align: center;
  background-color: rgb(199, 221, 201);
  margin: 0 auto;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  font-size: 30px;
  background-color: rgb(194, 235, 186);
  font-family: 'Lobster', cursive;
  padding: 10px;
  margin: 10px;

}

.locations {
  background-color: rgb(194, 235, 186);
  padding: 10px;
  margin: 25px 10px;
  font-family: Helvetica, sans-serif;
}

.res-name {
  background-color: rgb(238, 245, 159);
  padding: 10px;
  margin: 5px 10px;
  font-family: Helvetica, sans-serif;
}

.reviews {
  background-color: rgb(194, 235, 186);
  padding: 10px;
  margin: 10px 10px;
  font-family: Helvetica, sans-serif;
}

.btn {
  margin: 25px 15px;
  padding: 10px;
  border: 4px solid rgb(238, 245, 159);
  background-color: rgb(194, 235, 186);
  width: 200px;
  height: 50px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.btn:hover {
  box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.8);
  
}

